h1{
	text-align: center;
	color: black;
	font-size: 50px;
	background-color: rgba(0, 255, 255, 0.925);
	border: 1px rgb(255, 255, 255);
	padding: auto;
	margin: 0;
}
h2{
	text-align: center;
	background-color: rgba(0, 255, 255, 0.9);
	font-size: 40px;
	padding-top: 0%;
	width: 700px;
	margin-top: auto;
	margin-left: 330px;
	margin-bottom: 1px;
}
.void{
	background-color: rgb(0, 0, 0);
	margin: auto;
	padding: 0.2%;
}
.hub{
	color: black;
	padding: 0;
    text-align: center;
	margin: 15px;
	font-size: 50px;
}
.food{
	color: black;
	text-align: center;
	margin: 15px;
	padding: auto;
	font-size: 50px;
	margin-right: 313px;
}
.go{
	color: rgb(0, 0, 0);
	text-align: right;
	margin-right: 150px;
	padding: auto;
	margin: 15px;
	font-size: 50px;
	align-items: center;
	align-content: center;
	margin-left: 313px;
}
.shapka{
	height: auto;
	margin: 1;
}
.linia{
	border: 3px solid rgb(0, 0, 0);
	padding: 0;
	margin-top: 1px;
}
.how{
	text-align: right;
	font-size: 25px;
	margin-left: 250px;
}
.lin2{
	width: 50px;
	clear: both;
	
}
.naw{
	text-align: center;	
	color: rgb(0, 0, 0);
	font-size: 50px;
}
body{
	background-image: url(pirovki.jpg) ;
	height: max-content;
	margin: auto;
}
.vse{
	background: rgba(192, 191, 192, 0.3);
	height: auto;
}
.reg{
	margin: 1px;
	text-align: right;	
	margin-left: 500px;
	background-color: rgb(39, 167, 46);
	color: rgb(255, 0, 0);
	font-size: 25px;
	border: 3px solid rgb(255, 255, 255);
	margin-bottom: 2px;
	margin-top: 2px;
}